#
# Secret data, only visible to trusted system admins
####################################################


# Strings for htpasswd can be generated with apache2-utils's htpasswd
# script. Nginx accepts crypt() or MD5-based passwords. Circa January 2014,
# uWSGI only accepts crypt.
{% macro htpasswd(user) -%}
  {%- if user == 'hipikat' -%}
    XXXXXXXXXXXXXXXXXXX
  {%- endif -%}
{%- endmacro %}


# Cloud provider secrets
{% macro digitalocean_key(type) -%}
  {%- if type == 'client' -%}
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  {%- elif type == 'api' -%}
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  {%- endif -%}
{%- endmacro %}


saltlick:

  salt_cloud:
    providers:
      # Digital Ocean
      digitalocean-secrets:
        provider: digital_ocean
        ssh_key_names: my-digitalocean,mycomputer-rsa

        # See https://cloud.digitalocean.com/settings/applications#access-tokens
        personal_access_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

        # Taken from saltlick:deploy_keys:hipikat-digitalocean:(public|private)
        # and written to /etc/saltlick/deploy_keys/hipikat-digitalocean[.pub]
        # - this becomes 'ssh_key_file' in Salt Cloud provider configurations.
        deploy_key: my-digitalocean


  # Saltlick will place deploy keys in /etc/saltlick/deploy_keys/
  deploy_keys:

    # Okay so this one's actually just attached to my user profile...
    hipikat-github:
      public: ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX my-github
      private: |
        -----BEGIN RSA PRIVATE KEY-----
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        -----END RSA PRIVATE KEY-----

    # Used for salt-cloud VM deployment
    hipikat-digitalocean:
      public: ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX my-digitalocean-2015-03-27
      private: |
        -----BEGIN RSA PRIVATE KEY-----
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        -----END RSA PRIVATE KEY-----
