
{%- set domain_name = "your_domain_name.com" %}

users:
  exalted:
    password: 'XXXXXXXX'
    hash_password: true
    ssh_auth:
      - ssh-rsa AAAABnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn{# -#}
  nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn{# -#}
  nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn{# -#}
  nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn{# -#}
  nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn{# -#}
  nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn{# -#}
  == nnnot-a-real@ssh-private-key

mysql:
  #server:
  #  root_password: 'nnNnnNNn'
  #  #root_password_hash: '*123456789ABCDEF0123456789ABCDEF012345678'

  user:
    exalted:
      password: 'nnNnnNNn'

    phpmyadmin:
      password: 'nnNnnNNn'

#salt_user:
#    salt_user_password: 'nnNnnNNn'

